<% content_for :sidebar do %>
  <div class="span2">
    <ul class="nav nav-pills nav-stacked">
        <li>
          <%= link_to 'Back', albums_path %>
        </li>
    </ul>
  </div>
<% end %>
<div class="offset2">
  <h1>New album</h1>
  <hr/>
	<%= render 'form' %>


