<% content_for :sidebar do %>
  <div class="span2">
    <ul class="nav nav-pills nav-stacked">
        <li>
          <%= link_to 'Show', album_medium_path(@album, @medium) %>
        </li>
    </ul>
  </div>
<% end %>
<div class="span10">
	<h1>Editing medium</h1>

	<%= render 'form' %>
</div>


