<% content_for :sidebar do %>
  <div class="span2">
    <ul class="nav nav-pills nav-stacked">
        <li>
          <%= link_to 'Edit', edit_album_medium_path(@album, @medium) %>
        </li>
        <li>
          <%= link_to 'Back', album_path(@album) %>
        </li>
    </ul>
  </div>
<% end %>
<div class="span10">
  <ul class="thumbnails" id="media">
  	<%= content_tag_for(:li, @medium, :class => 'span10') do %>
  		<%= link_to @medium.attachment_url(:modal).to_s, :class => 'thumbnail colorbox' do %>
  			<% image_tag (@medium.attachment_url(:showaction).to_s) %>
  		<% end %>
  	<% end %>
  <ul>
</div>

